.search-bar-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .search-bar {
    display: flex;
    align-items: center;
    flex-grow: 1;
  }
  
  .search-button {
    margin-left: 10px;
    height: 56px;
    padding: 10px;
  }
  